@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.slick-slide > div {
  margin: 0;
  padding: 0;
}

.slick-list {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: fixed linear-gradient(135deg, #0036ca 0%, #c1d9ff 100%);

}